apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-frontend-config
data:
  default.conf: |
    server {
        listen 80;

        location / {
            proxy_pass http://{{ .Release.Name }}-backend:{{ .Values.backend.service.port }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /static/ {
            alias /app/static/;
        }
    }
