apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
  labels:
    app: {{ .Release.Name }}-backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-backend
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.service.port }}
          env:
            - name: MYSQL_HOST
              value: {{ .Release.Name }}-db
            - name: MYSQL_USER
              value: {{ .Values.backend.env.mysqlUser | quote }}
            - name: MYSQL_PASSWORD
              value: {{ .Values.backend.env.mysqlPassword | quote }}
            - name: MYSQL_DB
              value: {{ .Values.backend.env.mysqlDb | quote }}
      