name: ci-pipeline
on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
# ---------- Code Quality ----------
  codelevel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
                  -Dsonar.projectKey=ksami13200_cap-stone-project
                  -Dsonar.organization=ksami13200
                  -Dsonar.sources=.
      - name: Fetch Sonar Metrics
        run: |
          mkdir -p reports/sonar
          curl -s -u ${{ secrets.SONAR_TOKEN }}: \
          "https://sonarcloud.io/api/measures/component?component=ksami13200_cap-stone-project&metricKeys=bugs,vulnerabilities,code_smells,coverage" \
          -o reports/sonar/metrics.json
      - name: Generate Sonar Report
        run: |
          echo "# Sonar Metrics" > reports/sonar/report.md
          echo "| Metric | Value |" >> reports/sonar/report.md
          echo "|------|-------|" >> reports/sonar/report.md
          jq -r '.component.measures[] | "| \(.metric) | \(.value) |"' reports/sonar/metrics.json >> reports/sonar/report.md
      - uses: actions/upload-artifact@v4
        with:
          name: sonar-report
          path: reports/sonar/

# ---------- Build / Scan / Push ----------
  docker-build:
    runs-on: ubuntu-latest
    needs: codelevel
    strategy:
      matrix:
        include:
          - image: ourplant-backend
            context: .
            file: ./Dockerfile
          - image: ourplant-frontend
            context: .
            file: ./nginx/Dockerfile
          - image: ourplant-db
            context: ./db
            file: ./db/Dockerfile

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          docker build \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:${{ github.sha }} \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:latest \
          -f ${{ matrix.file }} \
          ${{ matrix.context }}
          
      - name: Trivy Scan (Image)
        uses: aquasecurity/trivy-action@0.33.1
        with:
            image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:${{ github.sha }}
            format: table
            output: trivy-${{ matrix.image }}.txt
            severity: CRITICAL,HIGH,MEDIUM,LOW
            exit-code: 0


      - uses: actions/upload-artifact@v4
        with:
            name: trivy-report-${{ matrix.image }}
            path: trivy-${{ matrix.image }}.txt

      - name: Push image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:latest
# ---------- Helm Update ----------
  update-helm:
    runs-on: ubuntu-latest
    needs: docker-build
    permissions:
     contents: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0   # pull --rebase

    - name: Update Helm tag
      run: |
        sed -i "s|tag:.*|tag: ${GITHUB_SHA}|g" helm/ourplant/templates/values.yaml
    - name: Commit changes (if any)
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add helm/ourplant/templates/values.yaml
        if git diff --cached --quiet; then
          echo "No changes to commit"
          exit 0
        fi
        git commit -m "ci: update image tag to ${GITHUB_SHA}"
    - name: Pull latest & push
      run: |
        git pull --rebase origin dev
        git push origin dev
